*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
}
#pink{
    width:25%;
    height:100vh;
    background-color: #D89886;
    opacity: 0.84;
    position: relative;
}
#outer{
    position: relative;
}
#white{
    width:75%;
    height:100vh;
    position: absolute;
}

#profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 50px;
}

.headings{
    color: white;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 32px;
    background-color: #D89886;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    
}
#btn1{
    margin-top: 100px;
    font-size: 38px;
    text-shadow: black 1px 1px;
    
}

#welcome{
    color: black;
    margin-left: 470px;
    font-size: 80px;
}

#admin{
    color:#D89886;
    font-size: 80px;
    margin-left: 0px;
}

#maincontainer{
    background-color: #D9D9D9;
    opacity: 0.44;
    position: absolute;
    z-index: 10px;
    margin-top: 180px;
    margin-left: 470px;
    height: 570px;
    width: 1000px;
    border-radius: 3%;

}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-right: 100px;
    margin-left: 90px;
    /* font-weight: bold; */
    
}
#input1{
    margin-left: 200px;
   height: 30px;
   width: 310px;
   font-size: 20px;
   

}
#input2{
    margin-left: 298px;
    height: 30px;
    width: 310px; 
    font-size: 20px;  
}
#input3{
    margin-left: 278px;
    height: 30px;
    width: 310px; 
    font-size: 20px;  
}
#input4{
    margin-left: 284px;
    height: 30px;
    width: 310px;  
    font-size: 20px; 
}
#input5{
    margin-left: 325px;
    height: 30px;
    width: 310px; 
    font-size: 20px;  
}
#input6{
    margin-left: 343px;
    height: 30px;
    width: 310px;   
    font-size: 20px;
    text-align: center;
   
}
#adminsubmit1{
    height: 40px;
    width: 250px;
    background-color: darkgreen;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-left: 400px;
    font-size: 25px;
    font-weight: bold;
   
}