*{
    margin: 0px;
    padding: 0px;

}
#background{
    display: flex;
}
#white{
    width: 64%;
    height: 100vh;
}
#pink{
    width: 36%;
    background-color: #D89886;
    opacity: 0.84;
    height: 100vh;
}