*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
}
#pink{
    width:25%;
    height:100vh;
    background-color: #D89886;
    opacity: 0.84;
    position: relative;
}
#outer{
    position: relative;
}
#white{
    width:75%;
    height:100vh;
    position: absolute;
}

#profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 50px;
}

.headings{
    color: white;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 32px;
    background-color: #D89886;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
#btn1{
    margin-top: 100px;
}
#btn2{
    font-size: 32px;
    text-shadow: black 1px 1px;
}

#welcome{
    color: black;
    margin-left: 420px;
    font-size: 80px;
}

#admin{
    color:#D89886;
    font-size: 80px;
    height: 100px;
    
}


#maincontainer{
    background-color: #D9D9D9;
    opacity: 0.44;
    position: absolute;
    z-index: 10px;
    margin-top: 200px;
    margin-left: 420px;
    height: 500px;
    width: 1050px;
    border-radius: 3%;

}

#messleave{
    margin-top: 25px;
    margin-left: 35px;
    font-size: 36px;
}
th{
    padding: 10px 20px 35px 20px;
}
td{
    padding-left: 40px;
    padding-bottom: 40px;
}
td.dol{
    padding-left: 80px;
}
td.dor{
    padding-left: 100px;
}
