*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
}
#pink{
    width:25%;
    height:100vh;
    background-color: #D89886;
    opacity: 0.84;
}
#white{
    width:75%;
    height:100vh;
    position: absolute;
}
#profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 50px;
}

.headings{
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 32px;
    background-color: #D89886;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
#btn1{
    margin-top: 100px;
}
#btn3{
    font-size: 38px;
    text-shadow: black 1px 1px;
}

#welcome{
    color: black;
    margin-left: 480px;
    font-size: 80px;
}

#user{
    color:#D89886;
    font-size: 80px;
}

#maincontainer{
    background-color: #D9D9D9;
    opacity: 0.44;
    position: absolute;
    z-index: 10px;
    margin-top: 200px;
    margin-left: 440px;
    height: 540px;
    width: 1050px;
    border-radius: 3%;

}

#sem{
    margin-left: 10px;
    font-size: 24px;
}

#messleave{
    margin-top: 25px;
    margin-left: 35px;
    font-size: 36px;
}
th{
    padding: 10px 20px 35px 20px;
}
td.month{
    padding-left: 250px;
    padding-right: 100px;
    padding-bottom: 15px;
}
td.amt{
    padding-left: 150px;
    padding-bottom: 15px;
    padding-right: 100px;
}
td.serial{
    padding-left: 65px;
    padding-bottom: 15px;
}

