*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
}
#pink{
    width:25%;
    height:100vh;
    background-color: #D89886;
    opacity: 0.84;
}
#white{
    width:75%;
    height:100vh;
    position: absolute;
}
#profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 50px;
}

.headings{
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 32px;
    background-color: #D89886;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
#btn1{
    margin-top: 100px;
    text-shadow: black 1px 1px;
}

#welcome{
    color: black;
    margin-left: 480px;
    font-size: 80px;
}

#user{
    color:#D89886;
    font-size: 80px;
}

#maincontainer{
    background-color: #D9D9D9;
    opacity: 0.44;
    position: absolute;
    z-index: 10px;
    margin-top: 200px;
    margin-left: 440px;
    height: 540px;
    width: 1050px;
    border-radius: 3%;
    display: flex;
}

#left,#right{
    height: 500px;
    width: 600px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

#div1,#div2,#div3,#div4{
    height: 250px;
    width: 460px;
    margin: 15px;
    margin-bottom: 0px;
}

#breakfast{
    height: 130px;
    width: 200px;
    border-radius: 5%;
    margin-left: 110px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 24px;
    background-color: grey;
    opacity: 0.8;
    color: white;
    text-shadow: black 2px 1px;
}

#lunch{
    margin-bottom: 20px;
    height: 130px;
    width: 220px;
    border-radius: 5%;
    margin-left: 120px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 24px;
    background-color: grey;
    opacity: 0.8;
    color: white;
    text-shadow: black 2px 1px;
}

#dinner{
    margin-bottom: 20px;
    height: 100px;
    width: 200px;
    border-radius: 5%;
    margin-left: 120px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 24px;
    background-color: grey;
    opacity: 0.8;
    color: white;
    text-shadow: black 2px 1px;
}

#snacks{
    margin-bottom: 20px;
    height: 100px;
    width: 220px;
    border-radius: 5%;
    margin-left: 120px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 24px;
    background-color: grey;
    opacity: 0.8;
    color: white;
    text-shadow: black 2px 1px;
}